<div class="contentObjects" role="complementary">
  <div class="contentObjects-item-container">
    {{#each resources}}
      <div class="contentObjects-item drawer-item">
        <button class="base contentObjects-item-open drawer-item-open" data-href="{{_id}}" tabindex="0" role="button">
          <div class="drawer-item-title">
            <div class="drawer-item-title-inner tree-level-1">{{{title}}}</div>
          </div>
        </button>
      </div>
      {{#equals "menu" _type}}
        {{#each _children.models}}
          <div class="contentObjects-item drawer-item">
            <button class="base contentObjects-item-open drawer-item-open" 	data-href="{{attributes._id}}" tabindex="0"
            role="link">
              <div class="drawer-item-title">
                <div class="drawer-item-title-inner tree-level-2">{{{attributes.title}}}</div>
              </div>
            </button>
          </div>
        {{/each}}
      {{/equals}}
    {{/each}}
    </div>
    <div class="aria-label a11y-ignore-focus prevent-default" tabindex="0"/>
</div>
